@import "tailwindcss";

:root {
  --background: #0f1111;
  --foreground: #e9e9e9;
  --red: #f07f7f;
  --green: #7ff088;
  --yellow: #edec73;
  --darkBlue: #7facf0;
  --purple: #d67ff0;
  --lightBlue: #7fe7f0;
  --grey: #928374;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
}